@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-primary {
		@apply rounded-md bg-gray-asparagus px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-highland focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:opacity-50 disabled:cursor-not-allowed transition-colors duration-200;
	}

	.btn-secondary {
		@apply rounded-md bg-norway text-heavy-metal border-2 border-gray-asparagus px-4 py-1.5 text-sm font-medium hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:opacity-50 disabled:cursor-not-allowed transition-colors duration-200;
		&--outline {
			@apply btn-secondary bg-white text-gray-700 border-gray-300 hover:bg-gray-50;
		}
	}

	.radio-input {
		@apply w-5 h-5;
		accent-color: theme('colors.gray-asparagus');
	}

	.checkbox-input {
		@apply w-4 h-4 rounded;
		accent-color: theme('colors.gray-asparagus');
	}
}

body {
	margin: 0;
	padding: 0;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0;
	font-weight: normal;
}
